header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo {
  font-weight: 700;
  font-size: 40px;
}

.nav-items {
  position: relative;
  display: flex;
  justify-content: right;
  gap: 1.25rem;
}

.nav-item {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover:before {
    content: "";
    position: absolute;
    opacity: 0.6;
    border-radius: 20px;
    width: 50%;
    height: 4px;
    bottom: 0;
    background-color: black;
  }
}
